@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

hr {
  border-top-width: 0.2rem;
  border-radius: 5px;
  ;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d89a4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #176b80;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  max-height: 100vh;
}

.thumbnail .keen-slider__slide {
  font-size: 30px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}

.slideshow {
  height: 60vh;
}

.propertylayout {
  max-width: 1000px;
}

.searchbar{
  transition: 0.1s ease-in-out;
}

.bgpattern {
  background-image: url("/assets/whitebackground.png");
  background-blend-mode: multiply;
}

.stroke {
  -webkit-text-stroke: 2px #f4f3ee;
}